<script>
//set home page background color to blue
	$("body").css("background-color","#6FBBFC");
</script>
<div class="home_head">
</div>
<script>
// calculate window dimentions
	var winHeight = $(window).height();
	var winWidth = $(window).width();
</script>

<div class="home_logo">
	<%= image_tag "logo.png", :size => "570x112", :alt => "Rainbowa", :id => "logo_img" %>
</div>
<script>
// setup logo position
	$(".home_logo").css("margin-top","10%");	
</script>

<div class="home_motto">
	<p>Coolest Video Rainbow Encyclopedia.</p>
	<p>Play it, Follow it, Contribute to it.</p>
</div>
<script>
// setup motto position
	$(".home_motto").css("margin-top",20+"px");	
</script>

<div class="home_middle">
	<% if current_user %>
		<a href="<%= new_timeline_path %>">
			<%= button_tag "new timeline" %>
		</a>
	<% else %>
		<%= image_tag "facebook.png", :size => "173x29", :alt => "facebook", :id => "fb_login" %>
	<% end %>
</div>

<script>
// setup fb connect position
	$(".home_middle").css("margin-top",40+"px");	
</script>

<div id="gallery_top" >
</div>
<div id="gallery_pop" >
</div>
<div id="gallery_random" >
</div>

<script type="text/javascript">
$(function () {
	var photoPerRow = 10;
	var photoSide = winWidth/photoPerRow;
	$("#gallery_top").css("width",winWidth+"px");
	$("#gallery_top").css("height",3*photoSide+"px");
	$("#gallery_top").css("left","0px");	
	$("#gallery_top").css("margin-top","50px");
	
	$.ajax({
		url:"<%= gettop_path %>", 
		type:"POST",
		data: {"photoSide":photoSide}
	});
	
	//ajax start

	//ajax end
	
	

});
</script>