<h1>new event</h1>
<%= form_for(@event, :html => { :class => "new_event", :multipart => true} ) do |e| %>

<%=e.hidden_field :timeline_id, :value => @timeline.id %>
<%= e.hidden_field :time, :value => "123" %>

<%= f.label :video, "video" %>
<%= f.text_field :video %>

<%= f.label :description, "description" %>
<%= f.text_field :description %>

<%= f.submit "post" %>

<% end %>