<div id="createTimeLine">	
<% if current_user %>

<span style="font-size:20px;">new video timeline</span>

<%= form_for(@timeline, :html => { :class => "new_timeline", :multipart => true}) do |tl| %>

<%= tl.label :subject, "subject" %><br>
<%= tl.text_field :subject %><br>

<%= tl.label :description, "description" %><br>
<%= tl.text_area :description %><br>

<%= tl.label :photo, "photo address" %><br>
<%= tl.text_field :photo %><br>

<%= tl.submit "create timeline" %>

<% end %>

<% end %>
</div>

<script>
	$("body").css("background-color","#6FBBFC");
</script>