<!DOCTYPE html>
<html>
<head>
  <title>Rainbowa</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<!-- load jquery-UI from google -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js">
		</script> 
		<!-- css for date-picker in new contest page -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/flick/jquery-ui.css" type="text/css" media="all">
		
		<!-- youtube api loading -->
		<script type="text/javascript" src="http://www.youtube.com/player_api"></script>
</head>

<body>
<%= render "layouts/header" %>
<%= yield %>
</body>
</html>
